<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <img src="../../../assets/logo.png" alt="" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#educacion">Educacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experiencia" fragment="experiencia">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skill">Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#proyecto">Proyectos</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li> -->
        <button class="btn btn-secondary" routerLink="login" *ngIf="!isLogged">
          Login
        </button>
        <button class="btn btn-secondary" (click)="onLogOut()" *ngIf="isLogged">
          Cerrar Sesion
        </button>
      </ul>
    </div>
  </div>
</nav>
