<div class="container">
    <div class="title">
      <h2>Editar Educacion</h2>
    </div>
    <form (ngSubmit)="onUpdate()">
      <div class="form">
        <label class="form-label">Titulo obtenido</label>
        <input type="text" class="form-control" name="nombreS" [(ngModel)]="skill.nombreS" />
        <label class="form-label">Nombre de la Institucion</label>
        <input type="text" class="form-control" name="porcentaje" [(ngModel)]="skill.porcentaje" />
      </div>
      <div class="buton">
        <button class="btn">Confirmar</button>
      </div>
    </form>
  </div>
  