<div class="container">
  <div class="title">
    <h2>Agregar Educacion</h2>
  </div>
  <form (ngSubmit)="onCreate()">
    <div class="form">
      <label class="form-label">Nombre de la Institucion</label>
      <input type="text" class="form-control" name="nombreEd" [(ngModel)]="nombreEd" />
      <label class="form-label">Titulo Obtenido</label>
      <input type="text" class="form-control" name="descripcionEd" [(ngModel)]="descripcionEd" />
    </div>
    <div class="buton">
      <button class="btn">Agregar Eduacion</button>
    </div>
  </form>
</div>
